body {
    font-family: sans-serif;
    background-color: #F5F5F5;
}

.nav {
    background-color: blueviolet;
    padding: 1px;
    margin-top: -10px;
    height: 50px;
    z-index: +1;
}

.left {
    color: white;
    padding-left: 60px;

}

.right {
    float: right;
    margin-top: -40px;
    padding-left: 30px;
}

.login {
    color: white;
    text-decoration: none;
    padding-right: 100px;

}

.signup {
    padding-left: 60px;
    background-color: white;
    margin-top: -20px;
    padding-bottom: 30px;
    position: relative;
    z-index: -1;
    padding-top: 25px;
    height: 60px;
}   


.Blog {
padding-left: 60px;  
}    


.whisper {
    margin-left: 90px;
    height: 60vh;
    width: 70%;
    margin-top: 60px;
    background-color: white;
    border-radius: 10px;
    
}


.profile {
padding-right: 50px;
text-decoration: none;
color: white;
}

.img {
padding-left: 20px;
padding-top: 40px;
}

.heading {
padding-top: 20px;
padding-left: 150px;

}

.elon {
    text-decoration: none;
    color: gray;
    padding-left: 30px;
    
}

span {
    color:rgb(114, 113, 113);
    font-weight: 700;
}

.para {
 padding: 10px 30px;
color: gray;
line-height: 1.5;
}

.seemore {
padding-top: 10px;
text-decoration: none;
padding-left: 30px;
}

.headings {
    padding-top: 2px;
    padding-left: 150px;
    }




